/* Fondo principal */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:linear-gradient(135deg,#0f172a,#1e3a8a,#7c3aed);
    min-height:100vh;
}


.breaking-news{
    display:flex;
    align-items:center;
    background:#111;
    color:white;
    overflow:hidden;
    height:50px;
}

.etiqueta{
    background:#e60000;
    padding:15px 20px;
    font-weight:bold;
    z-index:2;
}

.marquee{
    overflow:hidden;
    flex:1;
}

.marquee span{
    display:inline-block;
    white-space:nowrap;
    padding-left:100%;
    animation:marquee 18s linear infinite;
}

@keyframes marquee{
    from{
        transform:translateX(0);
    }
    to{
        transform:translateX(-100%);
    }
}
