nav {text-align: centers;
margin-bottom: 10%;

}

.nav2 {
 text-align: center;
    list-style-type: none; /* Quitamos las viñetas de la lista */
    display: inline;
}/* Quitamos las viñetas de la lista */






/*  gb(14, 149, 216);*/
p{
    color: rgb(222, 233, 239);
    border-radius: 20px;
    border: 10ch;
    padding-bottom: 4em;
    
}

.m1{text-align: center;
   background-color: #000;
 border-radius: 30pc;
 font-size: larger;
 text-align: center;
 margin-bottom: 10;
  border-color: aqua;
  

}
body{
   background-image: url(../Nueva\ carpeta\ \(3\)/69412c4152175ae102265e75d7fbad95.jpg);
    color: aqua;
    border-radius: 20px;
    border: 10ch;
    
}
h1{
  text-align: center;    
}

h5{
  text-align: center;
  color: rgb(7, 247, 219);
  

}

a{
  text-align: center;
  color: rgb(7, 247, 219);
  text-decoration: blanchedalmond;
  width: 90ch;
  

}



footer{
 text-align: center;/* Incluye padding/borde en el tamaño */
 color: #000;
 border: aqua;
 background-color: #000;

}

.caja {

 background-color: #000;
 border-radius: 30pc;
 font-size: large;
 text-align: center;
 margin-bottom: 10ch;
 
 
}
